<div class="navbar navbar--extended">
	<nav class="nav__mobile"></nav>
	<div class="container">
		<div class="navbar__inner">
			<a href="index.html" class="navbar__logo">Siscot</a>
			<nav class="navbar__menu">
				<ul>
					<li><a href="#">Servicios</a></li>
					<li><a href="#">Acerca</a></li>
					<li><a href="#">Equipo</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</nav>
			<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
						<path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
						 class=""></path>
					</svg></a></div>
		</div>
	</div>
</div>
<!-- Hero unit -->
<div class="hero">
	<div class="hero__overlay hero__overlay--gradient"></div>
	<div class="hero__mask"></div>
	<div class="hero__inner">
		<div class="container">
			<div class="hero__content">
				<div class="hero__content__inner" id='navConverter'>
					<h1 class="hero__title">¡Bienvenido a Siscot!</h1>
					<p class="hero__text">La nueva solución para el transporte público en cualquier ciudad. Al alcance de todos en una
						sola app.</p>
					<a href="#" class="button hero__button">Saber más</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hero__sub">
	<span id="scrollToNext" class="scroll">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
		 xml:space="preserve">
			<path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z" /></svg>
	</span>
</div>
<!-- Steps -->
<div class="steps landing__section">
	<div class="container">
		<h2>¿Qué te ofrecemos?</h2>
		<p>No esperes más por tú proximo viaje</p>
	</div>
	<div class="container">
		<div class="steps__inner">
			<div class="step">
				<div class="step__media">
					<img src="../../assets/bus.svg" class="step__image">
				</div>
				<h4>Bus sin espera</h4>
				<p class="step__text">Ya no necesitaras pararte bajo el sol o la lluvia con la incertidumbre de cuando pasara tu
					ruta, nosotros te diremos cuando salir de casa.</p>
			</div>			
			<div class="step">
				<div class="step__media">
					<img src="../../assets/schedule.svg" class="step__image">
				</div>
				<h4>Planea tu viaje</h4>
				<p class="step__text">Planifica tu viaje y nosotros optimizamos tu tiempo, con informacion en tiempo real de
					trafico, y posibles rutas alternas para que siempre llegues a tiempo.</p>
			</div>
			<div class="step">
				<div class="step__media">
					<img src="../../assets/map.svg" class="step__image">
				</div>
				<h4>Ubicación en tiempo real</h4>
				<p class="step__text">Ahora podras saber donde se encuentra tu ruta en el momento que desees, y olvidate de perder
					tu tiempo tan valioso.</p>
			</div>
		</div>
	</div>
</div>
<!-- Expanded sections -->
<div class="expanded landing__section">
	<div class="container howitworks">
		<h2>¿Como funciona?</h2>
	</div>
	<div class="container">
		<div class="expanded__inner">
			<div class="expanded__media">
				<img src="../../assets/signin.svg" class="expanded__image">
			</div>
			<div class="expanded__content">
				<h2 class="expanded__title">Ingresa a Siscot</h2>
				<p class="expanded__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
					sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore
					laudantium consectetur!</p>
			</div>
		</div>
	</div>
</div>
<div class="expanded landing__section">
	<div class="container">
		<div class="expanded__inner">
			<div class="expanded__media">
				<img src="../../assets/trip.svg" class="expanded__image">
			</div>
			<div class="expanded__content">
				<h2 class="expanded__title">Planea tu ruta</h2>
				<p class="expanded__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
					sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore
					laudantium consectetur!</p>
			</div>
		</div>
	</div>
</div>
<div class="expanded landing__section">
	<div class="container">
		<div class="expanded__inner">
			<div class="expanded__media">
				<img src="../../assets/travel.svg" class="expanded__image">
			</div>
			<div class="expanded__content">
				<h2 class="expanded__title">¡Emprende tu viaje!</h2>
				<p class="expanded__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
					sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore
					laudantium consectetur!</p>
			</div>
		</div>
	</div>
</div>

<!-- Our team -->
<div class="steps landing__section team_section">
	<div class="container">
		<h2>Nuestro equipo</h2>
		<p>En Siscot queremos ofrecerte el mejor servicio con los mejores desarrolladores.</p>
	</div>
	<div class="container">
		<div class="steps__inner">
			<div class="step">
				<div class="step__media">
					<img src="../../assets/1.jpg" class="step__image team_image">
				</div>
				<h4>David Ruiz</h4>
				<p class="step__text">Ingeniero Fullstack</p>
			</div>			
			<div class="step">
				<div class="step__media">
					<img src="https://scontent.fbaq2-2.fna.fbcdn.net/v/t1.0-9/26229829_10215365985809718_5553875473560452083_n.jpg?_nc_cat=107&oh=231cb642b22ad1736d09ea1f541fdf8f&oe=5C5556BB" class="step__image team_image">
				</div>
				<h4>Santiago Jara</h4>
				<p class="step__text">Ingeniero .Net</p>
			</div>
			<div class="step">
				<div class="step__media">
					<img src="../../assets/3.jpg" class="step__image team_image">
				</div>
				<h4>Jorge Morales</h4>
				<p class="step__text">Ingeniero Frontend</p>
			</div>
		</div>
	</div>
</div>

<!-- Call To Action -->
<div class="cta cta--reverse">
	<div class="container">
		<div class="cta__inner">
			<h2 class="cta__title">Get started now</h2>
			<p class="cta__sub cta__sub--center">Grab the production version and begin your project instantly.</p>
			<a href="#" class="button button__accent">Download Evie</a>
		</div>
	</div>
</div>
<!-- Footer -->
<div class="footer footer--dark">
	<div class="container">
		<div class="footer__inner">
			<a href="index.html" class="footer__textLogo">Evie theme</a>
			<div class="footer__data">
				<div class="footer__data__item">
					<div class="footer__row">
						Created by <a href="https://twitter.com/ninalimpi" target="_blank" class="footer__link">Katerina Limpitsouni</a>
					</div>
					<div class="footer__row">
						Code/design by <a href="https://twitter.com/anges244" target="_blank" class="footer__link">Aggelos Gesoulis</a>
					</div>
				</div>
				<div class="footer__data__item">
					<div class="footer__row">Created for <a href="https://undraw.co" target="_blank" class="footer__link">unDraw</a>
					</div>
					<div class="footer__row">Special thx to <a href="https://shareboost.co" target="_blank" class="footer__link">ShareBoost</a>
						for the support
					</div>
				</div>
				<div class="footer__data__item">
					<div class="footer__row">
						<a href="https://github.com/anges244/evie" target="_blank" class="footer__link">GitHub</a>
					</div>
					<div class="footer__row">
						<a href="https://twitter.com/undraw_co" target="_blank" class="footer__link">Twitter</a>
					</div>
					<div class="footer__row">
						<a href="https://www.facebook.com/undraw.co/" target="_blank" class="footer__link">Facebook</a>
					</div>
					<div class="footer__row">
						<a href="./additional.html" class="footer__link">MIT license</a>
					</div>
				</div>
			</div>
		</div>
	</div>